@import './config';

.footer{
    @include flexCenter;
    justify-content: space-between;
    background: black;
    color: white;
    width: 100%;
    height: 150px;
    padding: 30px 2.5%;

    .footer_left{
        width: 50%;
        // max-width: 300px;
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;

        .footer_left2{
            @include flexCenter;
            flex-direction: column;
            
            h3{
                font-size: 12.5px;
            }

            .social_media{
                margin: 7.5px 0px;
                @include flexCenter;
                i{
                    color: $green;
                    margin: 0px 5px;
                    font-size: 15px;
                }
            }
        }
    }

    .footer_right{
        width: 50%;
        // max-width: 300px;
        text-align: right;
        @include flexCenter;
        justify-content: flex-end;
        flex-wrap: wrap;

        a{
            margin: 5px;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 12.5px;
            &:hover{
                color: $green;
            }
        }
    }

    @media screen and (min-width: 400px){
        .footer_left .footer_left2{
            h3{
                font-size: 15px;
            }

            .social_media, i{
                font-size: 25px;
            }
        }

        .footer_right{
            a{
                font-size: 15px;
            }
        }
    }

}