@import './config';

.filter_container{
    @include flexCenter;
    flex-wrap: wrap;
    width: 98%;
    margin: 40px auto;

    div{
        margin-left: 10px;

        select{
            margin: 5px 0px;
            margin-left: 5px;
            height: 30px;
            cursor: pointer;
            outline: none;
        }

        #apply{
            margin: 5px 0px;
            background: white;
            color: black;
            border: 3px solid $green;
            outline: none;
            cursor: pointer;
            font-weight: bolder;
            padding: 5px;
            height: 30px;
            border-radius: 2.5px;

            &:active{
                transform: scale(.98);
            }

            &:hover{
                background: $green;
            }
        }
    }
    .rel_div{
        position: relative;

        .more{
            position: static;
            margin: 5px 0px;
            background: black;
            color: white;
            border: none;
            outline: none;
            padding: 7.5px;
            height: 30px;
            width: 45px;
            cursor: pointer;
            border-radius: 2.5px;
            width: 100%;

            &:hover{
                color: $green;
            }
        }

        .more_popup{
            position: absolute;
            width: 135px;
            z-index: 1;
            right: 50%;
            top: 22.5px;
            background: black;
            color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            padding: 7.5px;
            border-radius: 2.5px;
            transform: translateX(50%) scale(0);
            transition: all .35s ease-in-out;
            transform-origin: top center;
            pointer-events: none;
            opacity: 0;

            &.open{
                transform: translateX(50%) scale(1);
                opacity: 1;
                top: 40.25px;
                pointer-events: all;
            }

            &::after{
                content: "";
                border: 10px solid transparent;
                border-bottom-color: black;
                cursor: pointer;
                position: absolute;
                top: -16px;
                left: 50%;
                transform: translateX(-50%);
            }

            h4:nth-of-type(2){
                margin-top: 10px;
            }

            input{
                width: 100%;
                text-indent: 10px;
                margin: 2.5px auto;
                border: 2px solid black;
                outline: none;
                border-radius: 2.5px;
                // transition: all .5s ease;
                
                &:focus{
                    border: 2px solid $green;
                }
                
            }

            .popup_buttons{
                margin: 0px;
                margin-top: 10px;
                position: static;
                width: 100%;
                @include flexCenter;
                
                button, input{
                    width: unset;
                    text-indent: unset;
                    text-align: center;
                    background: black;
                    padding: 2.5px;
                    border-radius: 2.5px;
                    border: 1px solid $green;
                    outline: none;
                    margin: 2.5px;
                    color: $green;
                    cursor: pointer;

                    &:hover{
                        background: $green;
                        color: white;
                    }
                }
            }


        }
    }  
}



.headline{
    text-align: center;
}

.no_results{
    margin-top: 50px;
}

.home_container{
    display: grid;
    width: 95%;
    margin: 10px auto;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin-bottom: 75px;
    grid-gap: 17.5px;

    @media screen and (min-width: 650px){
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1100px){
        grid-template-columns: 1fr 1fr 1fr;
    }

    .property{
        margin: 0px auto;
        background: white;
        border-radius: 2.5px;
        width: 100%;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-bottom: 3px solid $green;


        .image_container{
            position: relative;
            width: 100%;
            max-height: 600px;
    
            &::after{
                content: "";
                display: block;
                padding-bottom: 57.5%;
            }
    
            img{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0; 
                width: 100%; 
                height: 100%; 
                object-position: top;
                background: lightgrey;
                border-radius: 2.5px 2.5px 0px 0px;
            }
        }

        .property_stats{
            width: 100%;
            padding: 10px;

            h4{
                font-size: 25px;
            }

            p{
                margin: 2.5px 0px;
                font-size: 16.5px;

                &:nth-of-type(2){
                    font-size: 12.5px;
                    margin-top: 1.5px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}